extends layout

block content
    h1 #{actor.name}

    p
        a(href='/actors') Back to everyone

    if movies.length
        p #{actor.name} acts in #{movies.length} movies:
        // TODO should say 'actor' if only one! ;)
        ul.movies
            for movie in movies
                li.movie
                    form(action='/actors/#{actor.id}/kickout', method='POST')
                        a(href='/movies/#{movie.id}') #{movie.name}
                        input(type='hidden', name='movie[id]', value='#{movie.id}')
                        input(type='submit', class='unfollow', value='x')
    else
        p #{actor.name} isn't movies where he acts.

    if others.length
        form(action='/actors/#{actor.id}/hire', method='POST')
            p Add some movie for #{actor.name}:
            label
                select(name='movie[id]', required)
                    option(value='')
                    for movie in others
                        option(value='#{movie.id}') #{movie.name}
            input(type='submit', value='Add')
    else
        p There's no one else left for #{actor.name} to follow!

    form(action='/actors/#{actor.id}', method='POST')
        p Edit this actor:
        input(type='text', name='name', placeholder='#{actor.name}', required)
        input(type='submit', value='Update')

    form(action='/actors/#{actor.id}', method='POST', onsubmit='return confirm("Are you sure?");')
        p And if you're feeling destructive…
        input(type='hidden', name='_method', value='DELETE')
        input(type='submit', value='Delete Actor')
