extends layout

block content
    h1 #{movie.name}

    p
        a(href='/movies') Back to all

    if actors.length
        p #{movie.name} has #{actors.length} actors:
        // TODO should say 'movie' if only one! ;)
        ul.actors
            for actor in actors
                li.actor
                    form(action='/movies/#{movie.id}/kickout', method='POST')
                        a(href='/actors/#{actor.id}') #{actor.name}
                        input(type='hidden', name='actor[id]', value='#{actor.id}')
                        input(type='submit', class='unfollow', value='x')
    else
        p #{movie.name} doesn't have actors.

    if others.length
        form(action='/movies/#{movie.id}/hire', method='POST')
            p Add some actor for #{movie.name}:
            label
                select(name='actor[id]', required)
                    option(value='')
                    for actor in others
                        option(value='#{actor.id}') #{actor.name}
            input(type='submit', value='Add')
    else
        p There's no one else left to hire for #{movie.name} !

    form(action='/movies/#{movie.id}', method='POST')
        p Edit this movie:
        input(type='text', name='name', placeholder='#{movie.name}', required)
        input(type='submit', value='Update')

    form(action='/movies/#{movie.id}', method='POST', onsubmit='return confirm("Are you sure?");')
        p And if you're feeling destructive…
        input(type='hidden', name='_method', value='DELETE')
        input(type='submit', value='Delete Actor')
